.hidden {
  display: none !important;
}

.header {
  padding-left: 1rem;
}

.header-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 1rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.home-img {
  max-width: 80%;
  margin: 1rem;
  border-radius: 1rem;
}

.form-label {
  padding: 1rem;
  width: 90%;
  border-radius: 1rem;
}

.item-img {
  width: 8rem;
}

.margin2rem {
  margin: 2rem;
}

.smbutton-container {
  padding: 1rem;
}

#header-logo:hover {
  cursor: pointer;
  color: black;
}

/* media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

} */

@media screen and (max-width: 700px) {
  .lrg-button {
    font-size: 1rem;
    font-weight: 300;
  }
}
