* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #faebe0;
}

header {
  display: flex;
  background-color: #c9e4c5;
  font-family: "Work Sans", sans-serif;
  justify-content: space-between;
  font-weight: 300;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
