.div-background {
  background-color: rgba(193, 172, 149, 0.2);
  max-width: 80%;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

.welcome {
  font-weight: 200;
  text-align: left;
  font-size: 1.5rem;
}

.lrg-button:hover {
  cursor: pointer;
  background-color: #b5cda3;
}

.lrg-button:active {
  transform: translateY(1rem);
}
